<div class="page-content inner-container">
<h1>Welcome to the Web Portfolio of James Allan Cameron</h1>
<h3>I am a web developer in the Guelph/KW area who specializes in developing responsive, lightweight websites & apps that utilize cutting-edge CSS, highly semantic HTML, and look great on any device or browser. My particular interest is in Angular Apps (8+) using a combination of server side rendering, lazy-loading and Angular Material.</h3>

<h2>If you are looking for a brief summary of the skills I hang my hat on, look no further:</h2>
	<mat-list>
		
		<mat-list-item>
			<mat-icon matListIcon svgIcon="check"></mat-icon>
			<span>Experience using the <strong>Angular(8+)</strong> javascript framework as well as the
				<strong>ReactJS</strong> library to create responsive Single Page Applications (such as this one made with Angular 8) utilizing server side rendering to enhance SEO performance, lazy-loading and many other techniques for Single Page Applications</span>
		</mat-list-item>
		<mat-list-item>
			<mat-icon matListIcon svgIcon="wink"></mat-icon>
			<span>Experience using <strong>NODE.js</strong> and task runners <strong>Grunt and
					Gulp</strong> to manage and optimize build processes</span>
		</mat-list-item>
		<mat-list-item>
			<mat-icon matListIcon svgIcon="star"></mat-icon>
			<span>High Proficiency in <strong>CSS/CSS3</strong> including transforms and animations. I utilize <strong><a href="http://csswizardry.com/">Harry Roberts</a></strong> excellent object-oriented <strong><a href="https://speakerdeck.com/dafed/managing-css-projects-with-itcss">ITCSS</a></strong> methodology</span>
		</mat-list-item>
		<mat-list-item>
			<mat-icon matListIcon svgIcon="check"></mat-icon>
			<span>Strong understanding of <strong>HTML 5</strong> - I use the full range of available elements in HTML5 to create HTML documents that are rich in semantic meaning. This makes my pages more machine readable, easier to maintain and better for search engines</span>
		</mat-list-item>
		<mat-list-item>
			<mat-icon matListIcon svgIcon="grin"></mat-icon>
			<span>Practical experience optimizing websites to download to the clients browser as fast as possible using a wide range of tools and pre-processors like <strong>LESS & SASS</strong></span>
		</mat-list-item>
		<mat-list-item>
			<mat-icon matListIcon svgIcon="wink"></mat-icon>
			<span>Extensive experience with <strong>cross-browser testing</strong> across a huge amount of devices and solving complicated browser issues</span>
		</mat-list-item>
		<mat-list-item>
			<mat-icon matListIcon svgIcon="star"></mat-icon>
			<span>Expert at creating <strong>responsive</strong> sites using a combination of media queries, fluid typography, flexible grids and fluid media</span>
		</mat-list-item>
		
		<mat-list-item>
			<mat-icon matListIcon svgIcon="wink"></mat-icon>
			<span>Version control experience with <strong>GIT and Github</strong> amongst others</span>
		</mat-list-item>
		<mat-list-item>
			<mat-icon matListIcon svgIcon="grin"></mat-icon>
			<span>Impressive experience using Google Analytics and Google Tag Manager (among other tools) to track and analyze website data to help clients maximize website revenue or just gain insight into how users interact with their site</span>
		</mat-list-item>
		<mat-list-item>
			<mat-icon matListIcon svgIcon="star"></mat-icon>
			<span>Experienced using the <strong>D3 javascript library</strong> to create impressive graphical representations of data</span>
		</mat-list-item>
		
	</mat-list>
	<a class="o-btn o-btn--large o-btn--primary home-contact" routerLink="/contact-me">Contact Me<mat-icon matListIcon svgIcon="reply"></mat-icon></a>
	</div>
