.o-icon {
    font-size: 1.8em;
    float: right;
    margin-right: 0.5em;
}
.home-contact {
    margin-top: 20px;
}
.home-contact .o-icon {
    fill: #fff;
    margin-left: 20px;
    font-size: 1.5em;
    margin-right: 0;
}