
.axis--x text {
    font-size: 12px;
}
.axis--y text {
    font-size: 12px;
}
#chart {
    background-image: url('./../../../assets/portfolio/svg/toronto-blue-jays-logo.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 25%;
}
