<div class="page-content inner-container">
	<p fxLayout="row nowrap" fxLayoutAlign="end center">
		Toggle View: &nbsp;
		<mat-button-toggle-group name="budgetView" #viewGroup="matButtonToggleGroup" aria-label="Budget View">
			<mat-button-toggle value="summary" checked="true">Summary View</mat-button-toggle>
			<mat-button-toggle value="calendar">Calendar View</mat-button-toggle>
		</mat-button-toggle-group>
	</p>
	<div fxLayout="row nowrap" fxLayoutAlign="end center">
		<mat-slide-toggle class="example-margin" [color]="color" (change)="onViewToggle($event)">
			Toggle Original/Normalized Views
		</mat-slide-toggle>
	</div>
	<h1>Welcome to Your Dashboard</h1>
</div>

<div class="page-content inner-container">
	<app-budget-summary *ngIf="viewGroup.value == 'summary'" [viewFilter]="view"></app-budget-summary>
	<app-calendar *ngIf="viewGroup.value == 'calendar'"></app-calendar>
</div>