$incomes: #8E9AAF;
$expenses: #CBC0D3;
$investments: #EFD3D7;
$savings: #FEEAFA;
$debts: #C17C74;

.o-dashboard {
    margin-bottom: 50px;
}
.dashboard-totals {
    

    tr {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 1200px) {
            flex-direction: row;
        }
    }

    td {
        font-size: 17px;
        border: 0;
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        padding: 4px;

        &:before {
            content: '';
            width: 30px;
            height: 30px;
            display: inline-block;
            margin-right: 5px;
        }
        
        span {
            font-weight: 300;
            margin-left: 4px;
        }
    }
    td.income:before {
        background-color: $incomes;
    }
    td.expense:before {
        background-color: $expenses;
    }
    td.investment:before {
        background-color: $investments;
    }
    td.debt:before {
        background-color: $debts;
    }
    td.saving:before {
        background-color: $savings;
    }
    td.nets:before {
        content: none;
    }
}

.dashboard-summary-table {
    margin-bottom: 25px;
    tbody {
        tr {
            display: flex;
            flex-direction: row;
            align-content: center;
            height: 48px;
            border-bottom: 1px solid #ddd;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;

            .o-table__tablecell {
                flex: 1;
                display: flex;
                align-items: center;
                border-left: 0;
                border-right: 1px solid #ddd;
                border-bottom: 0;
                border-top: 0;
                font-size: 15px;
                font-weight: 300;
                
                &:first-of-type {
                    flex: 1 1 50%;
                    max-width: 50%;
                    font-size: 15px;
                    
                    @media screen and (min-width: 800px) {
                        font-size: 18px;
                        flex: 1 1 75%;
                        max-width: 75%;
                    }
                }
                
                &:last-of-type {
                    flex: 0 0 51px;
                    max-width: 51px;
                    border-right: 0; 
                }
                &.dashboard-summary-table__next {
                    font-style: italic;
                    justify-content: center;
                    padding-right: 8px;
                }
                &.dashboard-summary-table__amount {
                    min-width: 85px;
                }
                a {
                    color: rgba(0,0,0,.87);
                    line-height: inherit;
                }
                
            }

            &.addRow { 
                background-color: #f9f9f9;

                .o-table__tablecell {
                    flex: 1 1 auto;
                    max-width: none;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    justify-content: flex-end; 
                }
            }
        }
    }
    thead {
        tr {
            display: flex;
            flex-direction: row;
            align-content: center;
            height: 48px;
            border-bottom: 1px solid #ddd;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;

            .o-table__tablecell {
                flex: 1;
                display: flex;
                align-self: flex-end;
                border-left: 0;
                border-right: 0;
                border-bottom: 0;
                border-top: 0;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 400;
                
                &:first-of-type {
                    flex: 1 1 50%;
                    max-width: 50%;
                    font-size: 15px;
                    align-items: center;
                    
                    @media screen and (min-width: 800px) {
                        font-size: 18px;
                        flex: 1 1 75%;
                        max-width: 75%;
                    }
                }
                
                &:last-of-type {
                    flex: 0 0 51px;
                    max-width: 51px;
                    border-right: 0; 
                }
                &.dashboard-summary-table__next {
                    justify-content: center;
                    padding-right: 8px;
                }
                &.dashboard-summary-table__amount {
                    min-width: 85px;
                }
                a {
                    color: rgba(0,0,0,.87);
                    line-height: inherit;
                }
                
            }
        }
    }
    


}

