<div class="header__logo">
    <a routerLink="/home">&nbsp;</a>
</div>
<div class="header__navigation">
    <ul>
        <li><a routerLink="/home">About Me</a></li>
        <li><a routerLink="/portfolio">See What I Can Do</a></li>
        <li><a routerLink="/extras">The Extras</a></li>
        <li><a routerLink="/contact-me">Contact Me</a></li>
    </ul>
</div>
<div class="contact-btn__container">
    <div class="contact-btn">
        <a routerLink="/contact-me">Hire Me</a>
    </div>
</div>
  
