<div>
    <p>Budget form values are: {{budgetForm.value | json}}</p>
    <p>Model is: {{model | json}}</p>
<!--<form #recordForm="ngForm" (ngSubmit)="onSubmit(recordForm)" name="myForm" class="o-form budgetForm editform">-->
<form [formGroup]="budgetForm" (ngSubmit)="onSubmit(budgetForm.value)">
    <h2>Add or Edit Your Record</h2>

    <mat-form-field>
        <mat-select [(value)]="model.type" formControlName="type" placeholder="Type">
            <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('type', 'required')">
            A transaction type is required
        </mat-error>
    </mat-form-field>


    <mat-form-field>
        <input matInput formControlName="title" placeholder="Title">
        <mat-error *ngIf="hasError('title', 'required')">
            A title is required
        </mat-error>
    </mat-form-field>

    <!-- assetValue only required for investments -->
    <mat-form-field *ngIf="budgetForm.value.type == 'Investment'">
        <input matInput type="number" formControlName="assetValue" placeholder="Current Value">
        <mat-error *ngIf="hasError('assetValue', 'required')">
            A current value is required
        </mat-error>
    </mat-form-field>
    <!-- end of conditional assetValue -->

    <mat-form-field
        *ngIf="budgetForm.value.type == 'Income' || budgetForm.value.type == 'Expense' || budgetForm.value.type == 'Savings'">
        <input matInput type="number" formControlName="amount" placeholder="Amount">
        <mat-error *ngIf="hasError('amount', 'required')">
            An amount is required
        </mat-error>
    </mat-form-field>
    <!-- frequency not required for type: Debt or Investment -->
    <mat-form-field
        *ngIf="budgetForm.value.type == 'Income' || budgetForm.value.type == 'Expense' || budgetForm.value.type == 'Savings'">
        <mat-select [(value)]="model.frequency" formControlName="frequency" placeholder="Frequency">
            <mat-option *ngFor="let frequency of frequencies" [value]="frequency">{{frequency}}</mat-option>
        </mat-select>
    </mat-form-field>
    <!-- end of condition frequency field -->

    <!-- payment method only applies to expenses and savings -->
    <mat-form-field
        *ngIf="budgetForm.value.type == 'Income' || budgetForm.value.type == 'Expense' || budgetForm.value.type == 'Savings'">
        <mat-select [(value)]="model.method" formControlName="method" placeholder="Method">
            <mat-option *ngFor="let method of methods" [value]="method">{{method}}</mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('method', 'required')">
            A transaction method is required
        </mat-error>
    </mat-form-field>
    <!-- end of conditional fields -->

    <!-- starting date, next date not required for types: Debt or Investment -->
    <mat-form-field *ngIf="budgetForm.value.type == 'Income' || budgetForm.value.type == 'Expense' || budgetForm.value.type == 'Savings'">
        <input matInput [matDatepicker]="startpicker" placeholder="Initial Date" formControlName="initialDate">
        <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
        <mat-datepicker #startpicker></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field *ngIf="budgetForm.value.type == 'Income' || budgetForm.value.type == 'Expense' || budgetForm.value.type == 'Savings'">
        <input matInput [matDatepicker]="nextpicker" placeholder="Next Occurence" formControlName="nextDate">
        <mat-datepicker-toggle matSuffix [for]="nextpicker"></mat-datepicker-toggle>
        <mat-datepicker #nextpicker></mat-datepicker>
    </mat-form-field>
    <!-- starting and next date conditionals -->

    <!-- debt only fields -->
    <mat-form-field *ngIf="budgetForm.value.type == 'Debt'">
        <input matInput type="number" formControlName="owing" placeholder="Amount owing">
        <mat-error *ngIf="hasError('owing', 'required')">
            An amount owing is required
        </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="budgetForm.value.type == 'Debt'">
        <input matInput type="number" formControlName="rate" placeholder="Interest rate">
        <mat-error *ngIf="hasError('rate', 'required')">
            The rate is required
        </mat-error>
    </mat-form-field>
    <!-- end of debt only fields -->


    <mat-form-field>
        <textarea matInput formControlName="notes" placeholder="Notes"></textarea>
    </mat-form-field>
    <div class="o-btn-group">
        <button type="submit" class="o-btn o-btn--primary">Save Record</button>
        <button class="o-btn o-btn--primary" (click)="cancelEdit()">Cancel</button>
    </div>
</form>
<!--</form>-->

</div>


