<div class="page-content inner-container">
<header>
	<h1>Hey! It's not all I can do though!</h1>
	<h2>These may not be my core skills or the ones that get my juices flowing but when needed I can more than hold my own.</h2>
</header>
<mat-list>
	<mat-list-item>
		<mat-icon matListIcon svgIcon="star"></mat-icon>
		<span class="o-media__body">Extensive experience building WordPress sites including including both theme development as
			well as development of plugins for the platform </span>
	</mat-list-item>
	<mat-list-item>
		<mat-icon matListIcon svgIcon="check"></mat-icon>
		<span class="o-media__body">PHP. I'm not an expert but I am experienced enough to create my own wordpress theme,
			communicate with databases and build dynamic pages with it.</span>
	</mat-list-item>
	<mat-list-item>
		<mat-icon matListIcon svgIcon="wink"></mat-icon>
		<span class="o-media__body">Skilled in Adobe Photoshop and Illustrator for the preparation, optimization or creation of
			web graphics</span>
	</mat-list-item>
</mat-list>
</div>