<div class="page-content inner-container">
<section class="u-clearfix verticalSection">
    <h2 class="block-header">Angular 8+</h2>
    <h4>I recently built a small Angular app to manage our personal finances. Below are screenshots.</h4>

    <div fxLayout="row">
        <a style="margin-right: 20px; padding-right: 20px; border-right: 1px solid #ccc;"><img class="u-img-responsive"
                src="../assets/portfolio/budget-thumb-new.jpg"></a>
        <a><img class="u-img-responsive" src="../assets/portfolio/calendar-thumb-new.jpg"></a>

    </div>
    <div fxLayout="row" class="test-buttons">
        <button mat-raised-button color="primary" routerLink="/budget">Test Drive the App</button>
    </div>
</section>
<section class="u-clearfix verticalSection">
    <h2 class="block-header">Angular 8+</h2>
    <h4>I built an app that pulls recipes from the Food2Fork API so you can find a recipe, customize the servings, and
        add the items to a shopping list. Below are screenshots.</h4>

    <div fxLayout="row">
        <a style="margin-right: 20px; padding-right: 20px; border-right: 1px solid #ccc;"><img class="u-img-responsive"
                src="../assets/forkify/forkify-desktop.jpg"></a>
        <a><img class="u-img-responsive" src="../assets/forkify/forkify-mobile.jpg"></a>

    </div>
    <div fxLayout="row" class="test-buttons">
        <button mat-raised-button color="primary" routerLink="/forkify">Test Drive the App</button>
    </div>

</section>
<section class="u-clearfix verticalSection">
    <h2 class="block-header">Angular 8+</h2>
    <h4>I built an app that allows you to manage a grocery list, complete with a master list to manage items, set
        default quantities and more. Below are screenshots.</h4>

    <div fxLayout="row">
        <a style="margin-right: 20px; padding-right: 20px; border-right: 1px solid #ccc;"><img class="u-img-responsive"
                src="../assets/grocery/grocery-desktop.jpg"></a>
        <a><img class="u-img-responsive" src="../assets/grocery/grocery-mobile.jpg"></a>

    </div>
    <div fxLayout="row" class="test-buttons">
        <button mat-raised-button color="primary" routerLink="/grocery">Test Drive the App</button>
    </div>

</section>
</div>