:host {
    flex: none;
    background-color: #282a2b;
    border-top: 1px solid #4b4c4d;
}
p {
    color: rgba(255,255,255,0.87);

    a {
        color: inherit;
        text-decoration: underline;
    }
}